*{
    margin: 0;
    padding: 0;
}
body{
    line-height: 1.5em;
    min-width: 320px;
    max-width: 750px;
    font-family: "MicroSoft YaHei",sans-serif;
    background-color: #f2f2f2;
    color: #333;
}
a{
    color: #333;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
input{
    border: none;
    outline: none;
    -webkit-appearance: none;
}